* {
  box-sizing: border-box;
}

html,
body {
  background-color: #19203b;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
}

.container {
  border-radius: 10px;
  background-color: #2d2d58;
  width: 700px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.yt_logo {
  margin-top: 0px;
  position: relative;
  top: -70px;
}

.container h1 {
  position: relative;
  top: -110px;
}

.information_text {
  color: #e0fbfc;
  font-size: 16px;
  font-weight: normal;
}

.channel_div {
  position: absolute;
  display: flex;
  align-items: center;
}

.channel_image {
  margin: 0px 10px 0px 10px;
}

.box + .box {
  margin-left: 90px;
}

.box {
  width: 100px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4 {
  color: #e0fbfc;
}

.info_div {
  position: relative;
  top: -10px;
  display: flex;
  align-items: space-between;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

button {
  border: 4px solid #fb8500;
  background-color: #ffb703;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  font-weight: bold;
}

button:hover {
  background-color: #fb8500;
}
